body{
    background-color: rgb(195, 197, 197);
}
.navgit{
    background-color: rgb(204, 101, 101);
    display: flex;
    justify-content: center;
    height:50px;
    margin-top: 40px;}

    .navgit img{
     border-radius: 50%;
     height: 40px;
     width: 40px;
     padding-top: 5px;
     padding-right: 9px;

    }
    .navgit h4{
    color:#ffff;
    padding-bottom: 5px;
    }
    .container{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin-bottom: 50px;
        margin-top:50px ;
        margin-right: 50px;
        margin-left: 50px;
        
    }
   
    .img{    flex: 1;
       
    }
    .img img{
        height: 300px;
        width: 200px;
        margin: 12px,12px;
        border-radius: 12px;
    
    }
    .text{
        padding: 50px,50px,50px,50px;
        flex: 1;
        align-items: flex-end;
        justify-content: flex-end;
        word-spacing: 6px;
        line-height: 29px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .text a{
        color: black;
    }
    
